table {
    font-family: sans-serif;
    width: 100%;
}
td, th {
    font-size: 2.5em;
    max-width: 400px;
    overflow: hidden;
    text-align: center;    
    text-overflow: ellipsis;
    white-space: nowrap;
}
th {color: purple}

.tag-id    {width: 10%}
.team-name {width: 50%}
.team-laps {width: 20%}
.team-rank {width: 20%}

.notification {
    transition: all 1s;
    width: 100%;
}

.slide-in-enter-active {
    transition: transform 1s;
}
.slide-in-enter {
    transform: translateX(-20vmin);
}
