<!DOCTYPE HTML>

<html>
   <head>
        <link type="text/css" rel="stylesheet" href="/clients/hybrid.css"/>
   </head>
   
    <body onload="initialize()">
        <table>
            <thead>
                <tr>
                    <th class="tag-id">Tag</th>
                    <th class="team-name">Team</th>
                    <th class="team-laps">Team Laps</th>
                    <th class="team-rank">Team Rank</th>
                </tr>
            </thead>
        </table>
        <transition-group v-if="notifications.length > 0" name="slide-in" id="ticker">
            <table v-for="notif in notifications" :key="notif.TagID" class="notification">
                <tr>
                    <td class="tag-id">{{ notif.TagID }}</td>
                    <td class="team-name">{{ notif.TeamName }}</td>
                    <td class="team-laps">{{ notif.TeamLaps }}</td>
                    <td class="team-rank">{{ notif.TeamRank }}</td>
                </tr>
            </table>
        </transition-group>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="/clients/hybrid.js"></script>
   </body>
</html>