<!DOCTYPE HTML>

<html>
   <head>
        <link type="text/css" rel="stylesheet" href="/clients/hybrid.css"/>
   </head>
   
    <body onload="initialize()">
        <table>
            <thead>
                <tr>
                    <th class="tag-id">Tag</th>
                    <th class="team-name">Team</th>
                    <th class="team-laps">Team Laps</th>
                    <th class="team-rank">Team Rank</th>
                </tr>
            </thead>
        </table>
        <transition-group v-if="notifications.length > 0" name="slide-in" id="ticker">
            <table v-for="n in notifications" :key="n.TagID" class="notification">
                <tr>
                    <td class="tag-id">{{ n.TagID }}</td>
                    <td class="team-name">{{ n.TeamName }}</td>
                    <td class="team-laps">{{ n.TeamLaps }}</td>
                    <td class="team-rank">{{ n.TeamRank }}</td>
                </tr>
            </table>
        </transition-group>

        <script src="/clients/external/vue.js"></script>
        <script src="/clients/external/reconnecting-websocket.js"></script>
        <script src="/clients/hybrid.js"></script>
   </body>
</html>
