<html>
<head>
    <link rel="stylesheet" href="/templates/template.css">
</head>
<body>
    <h1>Teams</h1>
    <h3>
        Laps: {{.Laps}}<br>
        Miles: {{printf "%.1f" .Miles}}
    </h3>
    <table>
        <tr>
            <!-- SQLite column names in URLs below -->
            <th><a href="teams?sort=team_id&order=ASC">Name</a></th>
            <th>Leader</th>
            <th><a href="teams?sort=team_laps&order=DESC">Laps</a></th>
            <th>Rank</a></th>
        </tr>
        {{range $index, $element := .Teams}}
            <tr>
                <td><a href="/team/{{.TeamID}}">{{.Name}}</a></td>
                <td>{{.Leader}}</td>
                <td>{{.Laps}}</td>
                <td>{{.Rank}}</td>
            </tr>
        {{end}}
</body>
</html>
