<html>
<head>
    <link rel="stylesheet" href="/templates/template.css">
</head>
<body>
    <h1><a href = "/teams/">Teams</a> > {{.Name}}</h1>
    <table>
        <tr>
            <th>Tag Number</th>
            <th>Laps</th>
            <th>Time of last lap</th>
        </tr>
        {{range $index, $element := .Tags}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Laps}}</td>
                <td>{{.Updated | friendlyDate}}</td>
            </tr>
        {{end}}
    </table>
    <form action="/team/{{.TeamID}}" method="POST">
        <fieldset>        
            <input type="text" name="tag_ids" placeholder="100-103">
            <input type="hidden" name="team_id" value={{.TeamID}}>
            <button type="submit">Add tags</button>
        </fieldset>
    </form>
</body>
</html>
