<html>
<head>
    <link rel="stylesheet" href="/templates/template.css">
</head>
<body>
    <h1>Teams</h1>
    Laps: {{.Laps}}<br>
    Miles: {{printf "%.1f" .Miles}}
    <table>
        <tr>
            <th>Name</th>
            <th>Leader</th>
            <th>Laps</th>
        </tr>
        {{range $index, $element := .Teams}}
            <tr>
                <td><a href="/team/{{.TeamID}}">{{.Name}}</a></td>
                <td>{{.Leader}}</td>
                <td>{{.Laps}}</td>
            </tr>
        {{end}}
</body>
</html>
