body {
    font-family: sans-serif
}

button {
    background-color:dodgerblue;
    border-radius: 5px;
    color: white;
}

fieldset {
    border: none;
}

table, input, button {
    font-size: 1.3em;
}

table {
    width: 80%;
}

td {
    padding-top: 0.3em;
    padding-left: 0.3em;
    text-align: center;
}

tr:nth-child(even) {
    background: #CCC
}
tr:nth-child(odd) {
    background: #FFF
}
