[Unit]
Description=Relay Lap Counter
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/home/pi/src/github.com/theotherphp/relay_go/relay
Restart=on-abort
StandardOutput=inherit
StandardError=inherit
WorkingDirectory=/home/pi/src/github.com/theotherphp/relay_go/
User=pi
 
[Install]
WantedBy=multi-user.target
