[Unit]
Description=Relay RFID Reader
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/relay/rfid.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
